@{
    ViewBag.Title = "Home";
}

<p>
    This was our first conversion of template to be a Layout page for an MVC application.
    In addition to the base setup we also ran the NuGet package for indentity samples.
</p>